@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Fraunces", serif; */
/* font-family: "Montserrat", sans-serif; */
body{
    background-color: hsl((30, 38%, 92%));
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    display: flex; /*alinear centrar*/
    justify-content: center; /*alinear centrar*/
    align-items: center;
    height: 100vh; /*centrar contenido*/
}

main{
    border: 3px solid red;
    width: 650px;
    height: 400px;
}

.photo{
    border: 3px solid rgb(0, 255, 98);
    width: 350px;
}

.content{
    border: 3px solid rgb(255, 187, 0);
    width: 300px;
}