  /* CUSTOM PROPERTIES <> Variables */
  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

  :root {
      /* fonts */
      --font-primary: "Kumbh Sans", sans-serif;
      --font-size: 16px;
      --font-weight-regular: 400;
      --font-weight-bold: 700;

      /* COLOR */
      --primary-orange: hsl(26, 100%, 55%);
      --primary-pale-orange: hsl(25, 100%, 94%);

      --neutral-very-dark-blue: hsl(220, 13%, 13%);
      --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
      --neutral-grayish-blue: hsl(220, 14%, 75%);
      --neutral-light-grayish-blue: hsl(223, 64%, 98%);

      --neutral-white: hsl(0, 0%, 100%);
      --neutral-black: hsl(0, 0%, 0%);
  }

  * {
      box-sizing: border-box;
      margin: 0;
  }

  html {
      font-size: var(--font-size);
  }

  body {
      font-family: var(--font-primary);
      color: var(--neutral-very-dark-blue);
  }

  img {
      max-width: 100%;
      height: auto;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  /* UTILS */
  .wrapper {
      width: min(100% - 3rem, 1200px);
      margin: 0 auto;
  }

  .flex {
      display: flex;
  }

  /* HEADER */
  .header {
      height: 4.5rem; /* 72px */
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;
  }

  .header__wrapper {
      display: flex;
      align-items: center;
      gap: 2rem;
  }

  .header__links {
      display: flex;
      font-size: .8rem;
      gap: 1rem;
      color: var(--neutral-dark-grayish-blue);
  }

  .header__logo {
      width: 80px;
  }

  .header__icons {
      display: flex;
      align-items: center;
      gap: 20px;
  }

  hr {
      width: 98%;
      margin: 0 auto;
      border: none;
      border-top: 1px solid #ccc;
  }

  main {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
  }

  .gallery,
  .product {
      flex: 1;
  }

  .gallery {
      max-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .product {
      max-width: 50%;
      padding: 1.5rem;
  }

  .gallery img {
      width: 100%;
      height: auto;
      border-radius: 7px;
      object-fit: cover;
  }

  .product__subtitle {
      color: var(--primary-orange);
      font-weight: var(--font-weight-bold);
  }

  .product__title {
      margin-top: .5rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: var(--font-weight-bold);
  }

  .product__description {
      margin-bottom: 1.5rem;
      color: var(--neutral-dark-grayish-blue);
  }

  .product__price {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
  }

  .product__wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
  }

  .product__amount {
      font-size: 1.5rem;
      font-weight: var(--font-weight-bold);
  }

  .product__discount {
      color: var(--primary-orange);
      background-color: var(--primary-pale-orange);
      padding: .25rem .5rem;
      border-radius: .25rem;
      font-weight: var(--font-weight-bold);
  }

  .product__price-with-discount {
      color: var(--neutral-grayish-blue);
      text-decoration: line-through;
  }

  .product__quantity {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
  }

  .quantity-button {
      background-color: var(--neutral-light-grayish-blue);
      border: none;
      padding: .5rem;
      cursor: pointer;
  }

  .product__add-to-cart {
      background-color: var(--primary-orange);
      color: var(--neutral-white);
      padding: 1rem;
      border: none;
      border-radius: .5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: .5rem;
      font-weight: var(--font-weight-bold);
      transition: background-color 0.3s ease;
  }

  .product__add-to-cart:hover {
      background-color: hsl(26, 100%, 50%);
  }