*{
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

.container{
    width: min(100% - 3rem ,400px);
    border: 1px solid;
    margin: auto;
}

.hangman{
    margin-top: 2rem;
    padding: 1rem;;
}

.hangman__title{
    text-align: center;
}

.hangman__maskedword{
    text-align: center;
    font-size: 3rem;
}

.hangman__button{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:.2rem;
    margin-top: 1rem;
}

.hangman__button button{
    padding: 15px;
}

.hangman__result{
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:green;
}

.hidden{
    display: none;
}

